---
layout: default 
title: The Yoga Studio
banner: 
  image: https://placekitten.com/900/600
  small_heading: Welcome to
  heading: The Yoga Studio
image_text: 
  heading: Duis aute irure
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.
  button_text: sign up
  button_url: "#"
  image: https://placekitten.com/600/900
image_grid: 
  heading: Our classes
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat.
  button_text: Find out more
  button_url: "#"
  image: https://placekitten.com/600/900
seo: 
  title: The Yoga Studio for Ashtanga Yoga in the heart of London
  description: 
  keywords: 
  social_image: 
  hide-from-google: false
---

{% include banner.html %}

{% include image-text.html %}

{% include image-grid.html %}
