<footer>
    <nav>
        <!-- Footer Menu -->
        <div>
            <a href="#">Our Classes</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do </p>
        </div>
        <div>
            <a href="#">Schedule</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do </p>
        </div>
        <div>
            <a href="#">Contact</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do </p>
        </div>

        <!-- Footer Subscribe -->
        <form>
            <label for="email">Subscribe our newsletter</label>
            <input type="email" id="email">
            <button type="submit">Subscribe</button>
        </form>
    </nav>
    <div>
        <a href="#">Terms of use</a>
    </div>
</footer>