<footer class="bg-pumpkin text-white">
    <nav class="p-5p grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-8">
        <!-- Footer Menu -->
        <div>
            <a href="/classes" class="font-serif text-xl uppercase">Our Classes</a>
            <p class="mt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do </p>
        </div>
        <div>
            <a href="/schedule" class="font-serif text-xl uppercase">Schedule</a>
            <p class="mt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do </p>
        </div>
        <div>
            <a href="/contact" class="font-serif text-xl uppercase">Contact</a>
            <p class="mt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do </p>
        </div>

        <!-- Footer Subscribe -->
        <form class="col-span-2 grid md:text-right gap-6">
            <label for="email" class="font-serif text-xl uppercase">Subscribe our newsletter</label>
            <input type="email" id="email" name="email" class="max-w-sm w-full md:ml-auto bg-transparent border border-white p-2 outline-white">
            <div><button type="submit" class="button bg-white text-pumpkin border border-white hover:text-white hover:bg-pumpkin">Subscribe</button></div>
        </form>
    </nav>
    <div class="px-5p py-8 border-t border-white uppercase tracking-widest">
        <a href="#">Terms of use</a>
    </div>
</footer>